body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.possible-val-cell {
    height: 10px;
    width: 10px;
    text-align: center;
    line-height: 10px;
}

.possible-vals-table {
    border-collapse: collapse;
}
