@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

body {
    font-family: monospace;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#grid-container {
  display: grid;
  grid-template-areas:
  "controls puzzle"
  "status status";
  align-items: center;
  justify-content: center;
  text-align: center;
}

#puzzle-status-bar {
    grid-area: status;
}

#puzzle-contianer {
    align-content: center;
    grid-area: puzzle;
    margin: 30px;
}

#puzzle-controlls-wrapper {
    grid-area: controls;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


table {
    border-collapse: collapse;
}

td {
    padding: 0
}

#puzzle-grid div {
    line-height: 60px;
}

#puzzle-grid input {
    line-height: 60px;
}

.puzzle-cell-number {
    border: 2px solid grey;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
}

.puzzle-cell-number input{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: inherit;
    font-size: 100%;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    border: none;
}

.puzzle-cell-number input:disabled{
    text-decoration: underline;
}

.puzzle-cell-number input:focus{
    outline: none;
    border:1px solid black;
}

.puzzle-row-constraints .puzzle-cell-constraint {
    writing-mode: vertical-rl;
}

.puzzle-cell-constraint {
    text-align: center;
    margin: 2px;
}

.puzzle-cell-wrong {
    color: red;
}

.puzzle-cell-blank {
    width: 30px;
    height: 30px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.size-selector-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
}

.size-selector-value {
    margin: 10px;
}

#temp {
    width : 100%;
}

.puzzle-controlls-button {
    margin: 20px 10px;
}

.puzzle-controlls-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

